body {
	text-align: center;
}

.password {
	font: 30px "Courier New";
	font-weight: bold;
	display: inline-block;
	color: #66CC00;
	background-color: #e3e3e3;
	padding: 10px;
	margin-bottom: 15px;
}

.optionTitle {
	font-style: italic;
}

#options {
	display: inline-block;
	border-radius: 20px;
	padding: 20px;
	border: 2px solid #535353;
	background-color: #b3b3b3;
}

.optionContent {
	text-align: left;
}



#comic {
	width: 700px;
